#applicantInfo {
  height: 400px;
  overflow-y: scroll;
  #personal {
    h3 {
      margin-top: 0;
    }
    img {
      border: 1px solid silver;
      width: 50px;
    }
  }
}

.dayAppts {
  table {
    font-size: smaller;
    td {
      height: 10px;
    }
    td.timeslot {
      background-color: #EDF393;
    }
  }
}

.apptHours {
  table {
    margin-top: 37px;
    font-size: smaller;
    td {
      height: 40px;
    }
  }
}
