<div class="col-md-2 col-xs-8 dayAppts">
      <table>
        <thead>
          <tr>
            <th><h5>{{ day.format('dddd') }}</h5></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td class="timeslot">&nbsp;</td>
          </tr>
          <tr>
            <td class="timeslot">&nbsp;</td>
          </tr>
          <tr>
            <td class="timeslot">Meg Griffin</td>
          </tr>
          <tr>
            <td class="timeslot">Chris Griffin</td>
          </tr>
        </tbody>
      </table>
    </div>
