<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    12:00 PM <span class="caret"></span>
  </button>
  <div class="dropdown-menu">
    <form class="form-inline">
      <div class="form-group">
        <select class="form-control col-md-1">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
    </form>
  </div>
</div>
