<div class="container">
    <a class="btn btn-primary" ui-sref="loggedIn.post">New Posting</a>
  <div class="row">
    <div class="col-md-4">
      <table class="table">
        <thead>
          <tr>
            <th>Applicants</th>
          </tr>
        </thead>
        <tbody>
        <tr>
          <td>Peter Griffin <span class="label label-warning">Applied</span></td>
        </tr>
        <tr class="danger">
          <td>John Lynch <span class="label label-danger">Denied</span></td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-8" id="applicantInfo">
      <div class="row" id="personal">
        <div class="col-md-10">
          <h3>Petter Griffin</h3>
          <span>55 Spooner St, Quahog RI 12345</span>
      </div>
      <div class="col-md-2">
        <img class="img rounded" src="/images/peter.jpg" alt="">
      </div>
    </div>
      <hr/>
      <h4>Employment</h4>
      <div class="row">
        <div class="col-md-8">
          <h5>Pawtucket Brewery <span class="label label-success">verified</span></h5>
          <span>Supervisor:</span> Joane Smith
        </div>
        <div class="cold-md-4">Jan 2009 - present</div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <h5>Happy Go-lucky toys</h5>
          <span>Supervisor:</span> Jonathan Weed
        </div>
        <div class="cold-md-4">Jan 2000 - Jan 2009</div>
      </div>
      <hr/>
      <h4>Rental History</h4>
      <div class="row">
        <div class="col-md-8">
          <h5>Pawtucket Brewery</h5>
          <span>Landlord:</span> Glenn Quagmire
        </div>
        <div class="cold-md-4">Jan 2000 - present</div>
      </div>
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="col-md-1 col-xs-4 apptHours">
      <table>
        <tr ng-repeat="hour in hours">
          <td>{{ hour }}</td>
        </tr>
      </table>
    </div>

    <fc-appt-day ng-repeat="day in days">
  </div>
</div>
