<div class='middleBox'>
  <div class='container'>
    <div class='content'>
      <div class='row'>
        <div class='span8'>
          <div class='presentBox'>
            <div class='carousel slide' data-interval='false' id='presenter'>
              <ol class='carousel-indicators'>
                <li class='active' data-slide-to='0' data-target='#presenter'></li>
              </ol>
              <div class='carousel-inner'>
                <div class='active item'>
                  <p style='text-align:center'>
                  </p>
                </div>
              </div>
              <a class='carousel-control left' data-slide='prev' href='#presenter'>&lsaquo;</a>
              <a class='carousel-control right' data-slide='next' href='#presenter'>&rsaquo;</a>
            </div>
          </div>
        </div>
        <div class='span4'>
          <h1>
            Easy way to get good tenants
          </h1>
          <form id='signUp'>
            <div>
              <input id='firstNameField' placeholder='First'>
              <input id='lastNameField' placeholder='Last'>
            </div>
            <div>
              <input id='emailField' placeholder='E-mail'>
            </div>
            <div>
              <input class='btn btn-success btn-large' type='submit' value='Sign Up'>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class='bottomBox'>
  <div class='container'>
    <div class='content'>
      <div id='featuresSection'>
        <div class='row'>
          <div class='span4 feature'>
            <h2>Easy scheduling</h2>
            <p>Potential tenants can easily schedule during pre-defined open-house blocks.</p>
          </div>
          <div class='span4 feature'>
            <h2>Post to multiple sites</h2>
            <p>Post your listing to Craigslist, Facebook from one central location</p>
          </div>
          <div class='span4 feature'>
            <h2>Applicant tracking</h2>
            <p>Track potential tenant progress and status</p>
          </div>
        </div>
        <div class='row'>
          <div class='span4 feature'>
            <h2>Accept applications online</h2>
            <p>Let tenants apply online to avoid mistakes and need to fax/mail applications</p>
          </div>
          <div class='span4 feature'>
            <h2>Fast</h2>
            <p>Use predefined templates for easy posting</p>
          </div>
          <div class='span4 feature'>
            <h2>Applicant tracking</h2>
            <p>Track potential tenant progress and status</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


times in msec
 clock   self+sourced   self:  sourced script
 clock   elapsed:              other lines

000.018  000.018: --- VIM STARTING ---
000.183  000.165: Allocated generic buffers
000.925  000.742: locale set
000.936  000.011: clipboard setup
000.947  000.011: window checked
002.119  001.172: inits 1
002.137  000.018: parsing arguments
002.140  000.003: expanding arguments
012.607  010.467: shell init
013.403  000.796: Termcap init
013.447  000.044: inits 2
013.758  000.311: init highlight
016.388  000.148  000.148: sourcing /usr/local/share/vim/vim74/ftoff.vim
017.665  000.324  000.324: sourcing /Users/vitaliy.zakharov/.vim/bundle/vundle/autoload/vundle.vim
018.647  000.318  000.318: sourcing /Users/vitaliy.zakharov/.vim/bundle/vundle/autoload/vundle/config.vim
194.746  000.464  000.464: sourcing /Users/vitaliy.zakharov/.vim/bundle/vim-jinja/ftdetect/jinja.vim
195.728  000.374  000.374: sourcing /Users/vitaliy.zakharov/.vim/bundle/jasmine.vim/ftdetect/jasmine.vim
196.623  000.345  000.345: sourcing /Users/vitaliy.zakharov/.vim/bundle/vim-haml/ftdetect/haml.vim
197.696  000.481  000.481: sourcing /Users/vitaliy.zakharov/.vim/bundle/vim-javascript/ftdetect/javascript.vim
198.950  000.646  000.646: sourcing /Users/vitaliy.zakharov/.vim/bundle/vim-coffee-script/ftdetect/coffee.vim
199.947  000.205  000.205: sourcing /Users/vitaliy.zakharov/.vim/bundle/vim-handlebars/ftdetect/handlebars.vim
201.011  000.386  000.386: sourcing /Users/vitaliy.zakharov/.vim/bundle/vim-markdown/ftdetect/markdown.vim
203.120  053.504  050.603: sourcing /usr/local/share/vim/vim74/filetype.vim
205.415  000.182  000.182: sourcing /usr/local/share/vim/vim74/ftplugin.vim
207.701  000.184  000.184: sourcing /usr/local/share/vim/vim74/indent.vim
208.562  192.960  138.300: sourcing /Users/vitaliy.zakharov/.vim/bundles.vim
209.535  000.044  000.044: sourcing /usr/local/share/vim/vim74/filetype.vim
211.196  000.033  000.033: sourcing /usr/local/share/vim/vim74/ftplugin.vim
212.828  000.030  000.030: sourcing /usr/local/share/vim/vim74/indent.vim
219.152  000.646  000.646: sourcing /usr/local/share/vim/vim74/syntax/syncolor.vim
220.465  003.784  003.138: sourcing /usr/local/share/vim/vim74/syntax/synload.vim
220.604  005.700  001.916: sourcing /usr/local/share/vim/vim74/syntax/syntax.vim
222.400  000.503  000.503: sourcing /usr/local/share/vim/vim74/syntax/syncolor.vim
229.746  000.535  000.535: sourcing /usr/local/share/vim/vim74/syntax/syncolor.vim
232.222  000.477  000.477: sourcing /usr/local/share/vim/vim74/syntax/syncolor.vim
240.197  014.676  013.664: sourcing /Users/vitaliy.zakharov/.vim/bundle/vim-colors-solarized/colors/solarized.vim
243.516  228.893  014.947: sourcing $HOME/.vimrc
243.556  000.905: sourcing vimrc file(s)
245.126  000.325  000.325: sourcing /Users/vitaliy.zakharov/.vim/bundle/neocomplcache/plugin/neocomplcache/buffer_complete.vim
245.711  000.170  000.170: sourcing /Users/vitaliy.zakharov/.vim/bundle/neocomplcache/plugin/neocomplcache/dictionary_complete.vim
246.194  000.162  000.162: sourcing /Users/vitaliy.zakharov/.vim/bundle/neocomplcache/plugin/neocomplcache/include_complete.vim
246.705  000.163  000.163: sourcing /Users/vitaliy.zakharov/.vim/bundle/neocomplcache/plugin/neocomplcache/syntax_complete.vim
247.202  000.154  000.154: sourcing /Users/vitaliy.zakharov/.vim/bundle/neocomplcache/plugin/neocomplcache/tags_complete.vim
249.221  001.680  001.680: sourcing /Users/vitaliy.zakharov/.vim/bundle/neocomplcache/plugin/neocomplcache.vim
256.773  005.962  005.962: sourcing /Users/vitaliy.zakharov/.vim/bundle/emmet-vim/plugin/emmet.vim
262.267  001.904  001.904: sourcing /Users/vitaliy.zakharov/.vim/bundle/delimitMate/autoload/delimitMate.vim
270.371  011.947  010.043: sourcing /Users/vitaliy.zakharov/.vim/bundle/delimitMate/plugin/delimitMate.vim
274.118  002.961  002.961: sourcing /Users/vitaliy.zakharov/.vim/bundle/supertab/plugin/supertab.vim
276.736  000.284  000.284: sourcing /Users/vitaliy.zakharov/.vim/bundle/vim-addon-mw-utils/autoload/funcref.vim
277.934  003.061  002.777: sourcing /Users/vitaliy.zakharov/.vim/bundle/vim-snipmate/plugin/snipMate.vim
278.649  000.113  000.113: sourcing /Users/vitaliy.zakharov/.vim/bundle/vim-snipmate/plugin/snipMateInterface.vim
280.856  000.609  000.609: sourcing /Users/vitaliy.zakharov/.vim/bundle/tlib_vim/plugin/02tlib.vim
281.356  000.058  000.058: sourcing /Users/vitaliy.zakharov/.vim/bundle/tlib_vim/plugin/02tlib.vim
286.053  002.609  002.609: sourcing /Users/vitaliy.zakharov/.vim/bundle/vim-matchit/plugin/matchit.vim
290.291  001.730  001.730: sourcing /Users/vitaliy.zakharov/.vim/bundle/vim-easymotion/autoload/EasyMotion.vim
295.045  007.386  005.656: sourcing /Users/vitaliy.zakharov/.vim/bundle/vim-easymotion/plugin/EasyMotion.vim
299.372  002.571  002.571: sourcing /Users/vitaliy.zakharov/.vim/bundle/vim-surround/plugin/surround.vim
316.818  015.781  015.781: sourcing /Users/vitaliy.zakharov/.vim/bundle/nerdcommenter/plugin/NERD_commenter.vim
318.698  000.249  000.249: sourcing /Users/vitaliy.zakharov/.vim/bundle/gundo.vim/plugin/gundo.vim
321.505  001.270  001.270: sourcing /Users/vitaliy.zakharov/.vim/bundle/tabular/plugin/Tabular.vim
325.150  001.026  001.026: sourcing /Users/vitaliy.zakharov/.vim/bundle/vim-indent-guides/autoload/indent_guides.vim
326.786  003.658  002.632: sourcing /Users/vitaliy.zakharov/.vim/bundle/vim-indent-guides/plugin/indent_guides.vim
334.042  003.627  003.627: sourcing /Users/vitaliy.zakharov/.vim/bundle/nerdtree/autoload/nerdtree.vim
339.327  002.010  002.010: sourcing /Users/vitaliy.zakharov/.vim/bundle/nerdtree/lib/nerdtree/path.vim
341.517  001.042  001.042: sourcing /Users/vitaliy.zakharov/.vim/bundle/nerdtree/lib/nerdtree/menu_controller.vim
342.948  000.389  000.389: sourcing /Users/vitaliy.zakharov/.vim/bundle/nerdtree/lib/nerdtree/menu_item.vim
344.343  000.411  000.411: sourcing /Users/vitaliy.zakharov/.vim/bundle/nerdtree/lib/nerdtree/key_map.vim
346.523  001.339  001.339: sourcing /Users/vitaliy.zakharov/.vim/bundle/nerdtree/lib/nerdtree/bookmark.vim
349.305  001.781  001.781: sourcing /Users/vitaliy.zakharov/.vim/bundle/nerdtree/lib/nerdtree/tree_file_node.vim
352.274  001.977  001.977: sourcing /Users/vitaliy.zakharov/.vim/bundle/nerdtree/lib/nerdtree/tree_dir_node.vim
354.639  001.212  001.212: sourcing /Users/vitaliy.zakharov/.vim/bundle/nerdtree/lib/nerdtree/opener.vim
357.019  001.355  001.355: sourcing /Users/vitaliy.zakharov/.vim/bundle/nerdtree/lib/nerdtree/creator.vim
386.082  000.402  000.402: sourcing /Users/vitaliy.zakharov/.vim/bundle/nerdtree/nerdtree_plugin/exec_menuitem.vim
394.274  007.652  007.652: sourcing /Users/vitaliy.zakharov/.vim/bundle/nerdtree/nerdtree_plugin/fs_menu.vim
398.197  070.618  047.421: sourcing /Users/vitaliy.zakharov/.vim/bundle/nerdtree/plugin/NERD_tree.vim
404.545  004.770  004.770: sourcing /Users/vitaliy.zakharov/.vim/bundle/minibufexpl.vim/plugin/minibufexpl.vim
408.291  002.834  002.834: sourcing /Users/vitaliy.zakharov/.vim/bundle/tagbar/plugin/tagbar.vim
410.339  000.746  000.746: sourcing /Users/vitaliy.zakharov/.vim/bundle/ack.vim/plugin/ack.vim
414.449  000.859  000.859: sourcing /Users/vitaliy.zakharov/.vim/bundle/ctrlp.vim/autoload/ctrlp/mrufiles.vim
415.216  003.366  002.507: sourcing /Users/vitaliy.zakharov/.vim/bundle/ctrlp.vim/plugin/ctrlp.vim
431.199  014.360  014.360: sourcing /Users/vitaliy.zakharov/.vim/bundle/vim-fugitive/plugin/fugitive.vim
434.052  001.273  001.273: sourcing /Users/vitaliy.zakharov/.vim/bundle/vim-powerline/plugin/Powerline.vim
439.002  000.436  000.436: sourcing /Users/vitaliy.zakharov/.vim/bundle/syntastic/plugin/syntastic/autoloclist.vim
440.121  000.608  000.608: sourcing /Users/vitaliy.zakharov/.vim/bundle/syntastic/plugin/syntastic/balloons.vim
441.395  000.650  000.650: sourcing /Users/vitaliy.zakharov/.vim/bundle/syntastic/plugin/syntastic/checker.vim
442.571  000.559  000.559: sourcing /Users/vitaliy.zakharov/.vim/bundle/syntastic/plugin/syntastic/cursor.vim
443.728  000.544  000.544: sourcing /Users/vitaliy.zakharov/.vim/bundle/syntastic/plugin/syntastic/highlighting.vim
445.988  001.671  001.671: sourcing /Users/vitaliy.zakharov/.vim/bundle/syntastic/plugin/syntastic/loclist.vim
448.419  000.748  000.748: sourcing /Users/vitaliy.zakharov/.vim/bundle/syntastic/plugin/syntastic/makeprg_builder.vim
449.395  000.575  000.575: sourcing /Users/vitaliy.zakharov/.vim/bundle/syntastic/plugin/syntastic/modemap.vim
450.176  000.434  000.434: sourcing /Users/vitaliy.zakharov/.vim/bundle/syntastic/plugin/syntastic/notifiers.vim
452.632  001.892  001.892: sourcing /Users/vitaliy.zakharov/.vim/bundle/syntastic/plugin/syntastic/registry.vim
454.593  001.343  001.343: sourcing /Users/vitaliy.zakharov/.vim/bundle/syntastic/plugin/syntastic/signs.vim
456.856  000.057  000.057: sourcing /Users/vitaliy.zakharov/.vim/bundle/syntastic/plugin/syntastic/autoloclist.vim
457.016  000.046  000.046: sourcing /Users/vitaliy.zakharov/.vim/bundle/syntastic/plugin/syntastic/balloons.vim
457.158  000.040  000.040: sourcing /Users/vitaliy.zakharov/.vim/bundle/syntastic/plugin/syntastic/checker.vim
457.298  000.039  000.039: sourcing /Users/vitaliy.zakharov/.vim/bundle/syntastic/plugin/syntastic/cursor.vim
457.441  000.038  000.038: sourcing /Users/vitaliy.zakharov/.vim/bundle/syntastic/plugin/syntastic/highlighting.vim
457.577  000.035  000.035: sourcing /Users/vitaliy.zakharov/.vim/bundle/syntastic/plugin/syntastic/loclist.vim
457.715  000.035  000.035: sourcing /Users/vitaliy.zakharov/.vim/bundle/syntastic/plugin/syntastic/makeprg_builder.vim
457.848  000.033  000.033: sourcing /Users/vitaliy.zakharov/.vim/bundle/syntastic/plugin/syntastic/modemap.vim
457.979  000.032  000.032: sourcing /Users/vitaliy.zakharov/.vim/bundle/syntastic/plugin/syntastic/notifiers.vim
458.110  000.030  000.030: sourcing /Users/vitaliy.zakharov/.vim/bundle/syntastic/plugin/syntastic/registry.vim
458.237  000.028  000.028: sourcing /Users/vitaliy.zakharov/.vim/bundle/syntastic/plugin/syntastic/signs.vim
487.948  001.670  001.670: sourcing /Users/vitaliy.zakharov/.vim/bundle/syntastic/autoload/syntastic/util.vim
491.266  036.162  034.079: sourcing /Users/vitaliy.zakharov/.vim/bundle/syntastic/plugin/syntastic.vim
493.276  000.339  000.339: sourcing /Users/vitaliy.zakharov/.vim/bundle/vim-trailing-whitespace/plugin/trailing-whitespace.vim
495.161  000.398  000.398: sourcing /Users/vitaliy.zakharov/.vim/bundle/vim-togglemouse/plugin/toggle_mouse.vim
497.289  001.219  001.219: sourcing /Users/vitaliy.zakharov/.vim/bundle/vim-rails/plugin/rails.vim
500.304  000.618  000.618: sourcing /Users/vitaliy.zakharov/.vim/bundle/jasmine.vim/autoload/jasmine.vim
500.653  002.454  001.836: sourcing /Users/vitaliy.zakharov/.vim/bundle/jasmine.vim/plugin/jasmine.vim
504.519  001.955  001.955: sourcing /Users/vitaliy.zakharov/.vim/bundle/vim-endwise/plugin/endwise.vim
506.077  000.265  000.265: sourcing /Users/vitaliy.zakharov/.vim/bundle/rainbow_parentheses.vim/plugin/rainbow_parentheses.vim
510.264  000.311  000.311: sourcing /usr/local/share/vim/vim74/plugin/getscriptPlugin.vim
511.619  000.937  000.937: sourcing /usr/local/share/vim/vim74/plugin/gzip.vim
513.431  001.271  001.271: sourcing /usr/local/share/vim/vim74/plugin/matchparen.vim
516.479  002.513  002.513: sourcing /usr/local/share/vim/vim74/plugin/netrwPlugin.vim
517.295  000.157  000.157: sourcing /usr/local/share/vim/vim74/plugin/rrhelper.vim
518.231  000.249  000.249: sourcing /usr/local/share/vim/vim74/plugin/spellfile.vim
519.791  000.858  000.858: sourcing /usr/local/share/vim/vim74/plugin/tarPlugin.vim
522.552  002.076  002.076: sourcing /usr/local/share/vim/vim74/plugin/tohtml.vim
523.728  000.619  000.619: sourcing /usr/local/share/vim/vim74/plugin/vimballPlugin.vim
525.120  000.929  000.929: sourcing /usr/local/share/vim/vim74/plugin/zipPlugin.vim
527.513  001.025  001.025: sourcing /Users/vitaliy.zakharov/.vim/bundle/vim-snipmate/after/plugin/snipMate.vim
532.452  001.868  001.868: sourcing /Users/vitaliy.zakharov/.vim/bundle/tabular/autoload/tabular.vim
539.495  010.465  008.597: sourcing /Users/vitaliy.zakharov/.vim/bundle/tabular/after/plugin/TabularMaps.vim
540.847  064.773: loading plugins
540.874  000.027: inits 3
541.722  000.848: reading viminfo
541.784  000.062: setting raw mode
541.850  000.066: start termcap
541.932  000.082: clearing screen
545.491  003.559: opening buffers
557.435  011.944: BufEnter autocommands
557.448  000.013: editing files in windows
564.664  000.915  000.915: sourcing /Users/vitaliy.zakharov/.vim/bundle/vim-powerline/autoload/Pl.vim
567.733  001.978  001.978: sourcing /Users/vitaliy.zakharov/.vim/bundle/vim-powerline/Powerline_default_default_fancy.cache
572.010  000.300  000.300: sourcing /Users/vitaliy.zakharov/.vim/bundle/vim-powerline/autoload/Pl/Match.vim
577.017  000.056  000.056: sourcing /Users/vitaliy.zakharov/.vim/bundle/vim-rails/autoload/rails.vim
595.413  019.689  019.633: sourcing /Users/vitaliy.zakharov/.vim/bundle/vim-rails/autoload/rails.vim
654.655  074.325: VimEnter autocommands
654.679  000.024: before starting main loop
662.587  000.532  000.532: sourcing /Users/vitaliy.zakharov/.vim/bundle/vim-powerline/autoload/Powerline/Functions.vim
664.099  000.173  000.173: sourcing /Users/vitaliy.zakharov/.vim/bundle/vim-powerline/autoload/Powerline/Functions/fugitive.vim
666.403  000.185  000.185: sourcing /Users/vitaliy.zakharov/.vim/bundle/vim-powerline/autoload/Powerline/Functions/syntastic.vim
676.757  008.869  008.869: sourcing /Users/vitaliy.zakharov/.vim/bundle/tagbar/autoload/tagbar.vim
741.011  076.573: first screen update
741.023  000.012: --- VIM STARTED ---


times in msec
 clock   self+sourced   self:  sourced script
 clock   elapsed:              other lines

000.017  000.017: --- VIM STARTING ---
000.179  000.162: Allocated generic buffers
000.920  000.741: locale set
000.931  000.011: clipboard setup
000.942  000.011: window checked
002.119  001.177: inits 1
002.136  000.017: parsing arguments
002.140  000.004: expanding arguments
009.181  007.041: shell init
009.921  000.740: Termcap init
009.964  000.043: inits 2
010.263  000.299: init highlight
011.349  000.133  000.133: sourcing /usr/local/share/vim/vim74/ftoff.vim
011.921  000.308  000.308: sourcing /Users/vitaliy.zakharov/.vim/bundle/vundle/autoload/vundle.vim
012.538  000.290  000.290: sourcing /Users/vitaliy.zakharov/.vim/bundle/vundle/autoload/vundle/config.vim
184.195  000.351  000.351: sourcing /Users/vitaliy.zakharov/.vim/bundle/vim-jinja/ftdetect/jinja.vim
184.779  000.349  000.349: sourcing /Users/vitaliy.zakharov/.vim/bundle/jasmine.vim/ftdetect/jasmine.vim
185.351  000.329  000.329: sourcing /Users/vitaliy.zakharov/.vim/bundle/vim-haml/ftdetect/haml.vim
186.030  000.465  000.465: sourcing /Users/vitaliy.zakharov/.vim/bundle/vim-javascript/ftdetect/javascript.vim
186.771  000.527  000.527: sourcing /Users/vitaliy.zakharov/.vim/bundle/vim-coffee-script/ftdetect/coffee.vim
187.154  000.141  000.141: sourcing /Users/vitaliy.zakharov/.vim/bundle/vim-handlebars/ftdetect/handlebars.vim
187.729  000.359  000.359: sourcing /Users/vitaliy.zakharov/.vim/bundle/vim-markdown/ftdetect/markdown.vim
189.794  049.981  047.460: sourcing /usr/local/share/vim/vim74/filetype.vim
191.541  000.122  000.122: sourcing /usr/local/share/vim/vim74/ftplugin.vim
193.247  000.119  000.119: sourcing /usr/local/share/vim/vim74/indent.vim
194.030  183.153  132.200: sourcing /Users/vitaliy.zakharov/.vim/bundles.vim
194.932  000.038  000.038: sourcing /usr/local/share/vim/vim74/filetype.vim
196.566  000.031  000.031: sourcing /usr/local/share/vim/vim74/ftplugin.vim
198.170  000.029  000.029: sourcing /usr/local/share/vim/vim74/indent.vim
201.559  000.551  000.551: sourcing /usr/local/share/vim/vim74/syntax/syncolor.vim
202.650  002.611  002.060: sourcing /usr/local/share/vim/vim74/syntax/synload.vim
202.747  003.677  001.066: sourcing /usr/local/share/vim/vim74/syntax/syntax.vim
204.362  000.471  000.471: sourcing /usr/local/share/vim/vim74/syntax/syncolor.vim
209.136  000.478  000.478: sourcing /usr/local/share/vim/vim74/syntax/syncolor.vim
211.533  000.472  000.472: sourcing /usr/local/share/vim/vim74/syntax/syncolor.vim
219.024  013.019  012.069: sourcing /Users/vitaliy.zakharov/.vim/bundle/vim-colors-solarized/colors/solarized.vim
221.826  211.112  010.694: sourcing $HOME/.vimrc
221.849  000.474: sourcing vimrc file(s)
223.033  000.265  000.265: sourcing /Users/vitaliy.zakharov/.vim/bundle/neocomplcache/plugin/neocomplcache/buffer_complete.vim
223.278  000.146  000.146: sourcing /Users/vitaliy.zakharov/.vim/bundle/neocomplcache/plugin/neocomplcache/dictionary_complete.vim
223.520  000.149  000.149: sourcing /Users/vitaliy.zakharov/.vim/bundle/neocomplcache/plugin/neocomplcache/include_complete.vim
223.753  000.142  000.142: sourcing /Users/vitaliy.zakharov/.vim/bundle/neocomplcache/plugin/neocomplcache/syntax_complete.vim
223.979  000.136  000.136: sourcing /Users/vitaliy.zakharov/.vim/bundle/neocomplcache/plugin/neocomplcache/tags_complete.vim
225.420  001.349  001.349: sourcing /Users/vitaliy.zakharov/.vim/bundle/neocomplcache/plugin/neocomplcache.vim
230.697  004.955  004.955: sourcing /Users/vitaliy.zakharov/.vim/bundle/emmet-vim/plugin/emmet.vim
233.379  001.328  001.328: sourcing /Users/vitaliy.zakharov/.vim/bundle/delimitMate/autoload/delimitMate.vim
241.126  010.092  008.764: sourcing /Users/vitaliy.zakharov/.vim/bundle/delimitMate/plugin/delimitMate.vim
243.998  002.533  002.533: sourcing /Users/vitaliy.zakharov/.vim/bundle/supertab/plugin/supertab.vim
244.976  000.207  000.207: sourcing /Users/vitaliy.zakharov/.vim/bundle/vim-addon-mw-utils/autoload/funcref.vim
245.741  001.331  001.124: sourcing /Users/vitaliy.zakharov/.vim/bundle/vim-snipmate/plugin/snipMate.vim
245.956  000.065  000.065: sourcing /Users/vitaliy.zakharov/.vim/bundle/vim-snipmate/plugin/snipMateInterface.vim
246.882  000.533  000.533: sourcing /Users/vitaliy.zakharov/.vim/bundle/tlib_vim/plugin/02tlib.vim
247.223  000.042  000.042: sourcing /Users/vitaliy.zakharov/.vim/bundle/tlib_vim/plugin/02tlib.vim
249.266  001.747  001.747: sourcing /Users/vitaliy.zakharov/.vim/bundle/vim-matchit/plugin/matchit.vim
251.154  001.172  001.172: sourcing /Users/vitaliy.zakharov/.vim/bundle/vim-easymotion/autoload/EasyMotion.vim
255.535  005.949  004.777: sourcing /Users/vitaliy.zakharov/.vim/bundle/vim-easymotion/plugin/EasyMotion.vim
257.721  001.843  001.843: sourcing /Users/vitaliy.zakharov/.vim/bundle/vim-surround/plugin/surround.vim
271.711  013.663  013.663: sourcing /Users/vitaliy.zakharov/.vim/bundle/nerdcommenter/plugin/NERD_commenter.vim
272.203  000.156  000.156: sourcing /Users/vitaliy.zakharov/.vim/bundle/gundo.vim/plugin/gundo.vim
273.309  000.798  000.798: sourcing /Users/vitaliy.zakharov/.vim/bundle/tabular/plugin/Tabular.vim
274.764  000.640  000.640: sourcing /Users/vitaliy.zakharov/.vim/bundle/vim-indent-guides/autoload/indent_guides.vim
275.948  002.325  001.685: sourcing /Users/vitaliy.zakharov/.vim/bundle/vim-indent-guides/plugin/indent_guides.vim
280.712  002.802  002.802: sourcing /Users/vitaliy.zakharov/.vim/bundle/nerdtree/autoload/nerdtree.vim
284.387  001.356  001.356: sourcing /Users/vitaliy.zakharov/.vim/bundle/nerdtree/lib/nerdtree/path.vim
285.246  000.409  000.409: sourcing /Users/vitaliy.zakharov/.vim/bundle/nerdtree/lib/nerdtree/menu_controller.vim
285.948  000.284  000.284: sourcing /Users/vitaliy.zakharov/.vim/bundle/nerdtree/lib/nerdtree/menu_item.vim
286.696  000.342  000.342: sourcing /Users/vitaliy.zakharov/.vim/bundle/nerdtree/lib/nerdtree/key_map.vim
287.781  000.673  000.673: sourcing /Users/vitaliy.zakharov/.vim/bundle/nerdtree/lib/nerdtree/bookmark.vim
289.182  000.963  000.963: sourcing /Users/vitaliy.zakharov/.vim/bundle/nerdtree/lib/nerdtree/tree_file_node.vim
290.720  001.103  001.103: sourcing /Users/vitaliy.zakharov/.vim/bundle/nerdtree/lib/nerdtree/tree_dir_node.vim
291.671  000.544  000.544: sourcing /Users/vitaliy.zakharov/.vim/bundle/nerdtree/lib/nerdtree/opener.vim
292.763  000.684  000.684: sourcing /Users/vitaliy.zakharov/.vim/bundle/nerdtree/lib/nerdtree/creator.vim
320.411  000.325  000.325: sourcing /Users/vitaliy.zakharov/.vim/bundle/nerdtree/nerdtree_plugin/exec_menuitem.vim
321.688  001.179  001.179: sourcing /Users/vitaliy.zakharov/.vim/bundle/nerdtree/nerdtree_plugin/fs_menu.vim
325.241  048.972  038.308: sourcing /Users/vitaliy.zakharov/.vim/bundle/nerdtree/plugin/NERD_tree.vim
329.223  003.664  003.664: sourcing /Users/vitaliy.zakharov/.vim/bundle/minibufexpl.vim/plugin/minibufexpl.vim
331.427  001.884  001.884: sourcing /Users/vitaliy.zakharov/.vim/bundle/tagbar/plugin/tagbar.vim
332.320  000.578  000.578: sourcing /Users/vitaliy.zakharov/.vim/bundle/ack.vim/plugin/ack.vim
334.198  000.695  000.695: sourcing /Users/vitaliy.zakharov/.vim/bundle/ctrlp.vim/autoload/ctrlp/mrufiles.vim
334.654  002.032  001.337: sourcing /Users/vitaliy.zakharov/.vim/bundle/ctrlp.vim/plugin/ctrlp.vim
347.740  012.765  012.765: sourcing /Users/vitaliy.zakharov/.vim/bundle/vim-fugitive/plugin/fugitive.vim
348.878  000.793  000.793: sourcing /Users/vitaliy.zakharov/.vim/bundle/vim-powerline/plugin/Powerline.vim
350.624  000.298  000.298: sourcing /Users/vitaliy.zakharov/.vim/bundle/syntastic/plugin/syntastic/autoloclist.vim
351.141  000.420  000.420: sourcing /Users/vitaliy.zakharov/.vim/bundle/syntastic/plugin/syntastic/balloons.vim
351.720  000.486  000.486: sourcing /Users/vitaliy.zakharov/.vim/bundle/syntastic/plugin/syntastic/checker.vim
352.208  000.395  000.395: sourcing /Users/vitaliy.zakharov/.vim/bundle/syntastic/plugin/syntastic/cursor.vim
352.682  000.381  000.381: sourcing /Users/vitaliy.zakharov/.vim/bundle/syntastic/plugin/syntastic/highlighting.vim
353.783  001.007  001.007: sourcing /Users/vitaliy.zakharov/.vim/bundle/syntastic/plugin/syntastic/loclist.vim
354.501  000.579  000.579: sourcing /Users/vitaliy.zakharov/.vim/bundle/syntastic/plugin/syntastic/makeprg_builder.vim
355.092  000.498  000.498: sourcing /Users/vitaliy.zakharov/.vim/bundle/syntastic/plugin/syntastic/modemap.vim
355.542  000.356  000.356: sourcing /Users/vitaliy.zakharov/.vim/bundle/syntastic/plugin/syntastic/notifiers.vim
356.817  001.183  001.183: sourcing /Users/vitaliy.zakharov/.vim/bundle/syntastic/plugin/syntastic/registry.vim
357.570  000.656  000.656: sourcing /Users/vitaliy.zakharov/.vim/bundle/syntastic/plugin/syntastic/signs.vim
359.123  000.043  000.043: sourcing /Users/vitaliy.zakharov/.vim/bundle/syntastic/plugin/syntastic/autoloclist.vim
359.249  000.037  000.037: sourcing /Users/vitaliy.zakharov/.vim/bundle/syntastic/plugin/syntastic/balloons.vim
359.367  000.035  000.035: sourcing /Users/vitaliy.zakharov/.vim/bundle/syntastic/plugin/syntastic/checker.vim
359.483  000.033  000.033: sourcing /Users/vitaliy.zakharov/.vim/bundle/syntastic/plugin/syntastic/cursor.vim
359.600  000.033  000.033: sourcing /Users/vitaliy.zakharov/.vim/bundle/syntastic/plugin/syntastic/highlighting.vim
359.713  000.030  000.030: sourcing /Users/vitaliy.zakharov/.vim/bundle/syntastic/plugin/syntastic/loclist.vim
359.827  000.030  000.030: sourcing /Users/vitaliy.zakharov/.vim/bundle/syntastic/plugin/syntastic/makeprg_builder.vim
359.937  000.027  000.027: sourcing /Users/vitaliy.zakharov/.vim/bundle/syntastic/plugin/syntastic/modemap.vim
360.044  000.026  000.026: sourcing /Users/vitaliy.zakharov/.vim/bundle/syntastic/plugin/syntastic/notifiers.vim
360.151  000.024  000.024: sourcing /Users/vitaliy.zakharov/.vim/bundle/syntastic/plugin/syntastic/registry.vim
360.256  000.023  000.023: sourcing /Users/vitaliy.zakharov/.vim/bundle/syntastic/plugin/syntastic/signs.vim
379.795  000.951  000.951: sourcing /Users/vitaliy.zakharov/.vim/bundle/syntastic/autoload/syntastic/util.vim
382.380  024.716  023.424: sourcing /Users/vitaliy.zakharov/.vim/bundle/syntastic/plugin/syntastic.vim
383.108  000.235  000.235: sourcing /Users/vitaliy.zakharov/.vim/bundle/vim-trailing-whitespace/plugin/trailing-whitespace.vim
383.807  000.330  000.330: sourcing /Users/vitaliy.zakharov/.vim/bundle/vim-togglemouse/plugin/toggle_mouse.vim
384.975  000.854  000.854: sourcing /Users/vitaliy.zakharov/.vim/bundle/vim-rails/plugin/rails.vim
386.533  000.446  000.446: sourcing /Users/vitaliy.zakharov/.vim/bundle/jasmine.vim/autoload/jasmine.vim
386.688  001.365  000.919: sourcing /Users/vitaliy.zakharov/.vim/bundle/jasmine.vim/plugin/jasmine.vim
388.302  001.022  001.022: sourcing /Users/vitaliy.zakharov/.vim/bundle/vim-endwise/plugin/endwise.vim
388.843  000.212  000.212: sourcing /Users/vitaliy.zakharov/.vim/bundle/rainbow_parentheses.vim/plugin/rainbow_parentheses.vim
390.517  000.239  000.239: sourcing /usr/local/share/vim/vim74/plugin/getscriptPlugin.vim
391.284  000.666  000.666: sourcing /usr/local/share/vim/vim74/plugin/gzip.vim
391.955  000.569  000.569: sourcing /usr/local/share/vim/vim74/plugin/matchparen.vim
393.484  001.426  001.426: sourcing /usr/local/share/vim/vim74/plugin/netrwPlugin.vim
393.720  000.093  000.093: sourcing /usr/local/share/vim/vim74/plugin/rrhelper.vim
393.971  000.132  000.132: sourcing /usr/local/share/vim/vim74/plugin/spellfile.vim
394.609  000.521  000.521: sourcing /usr/local/share/vim/vim74/plugin/tarPlugin.vim
395.083  000.349  000.349: sourcing /usr/local/share/vim/vim74/plugin/tohtml.vim
395.661  000.460  000.460: sourcing /usr/local/share/vim/vim74/plugin/vimballPlugin.vim
396.453  000.630  000.630: sourcing /usr/local/share/vim/vim74/plugin/zipPlugin.vim
398.066  000.922  000.922: sourcing /Users/vitaliy.zakharov/.vim/bundle/vim-snipmate/after/plugin/snipMate.vim
400.511  000.947  000.947: sourcing /Users/vitaliy.zakharov/.vim/bundle/tabular/autoload/tabular.vim
406.113  007.313  006.366: sourcing /Users/vitaliy.zakharov/.vim/bundle/tabular/after/plugin/TabularMaps.vim
407.422  018.353: loading plugins
407.444  000.022: inits 3
408.271  000.827: reading viminfo
408.327  000.056: setting raw mode
408.395  000.068: start termcap
408.477  000.082: clearing screen
412.037  003.560: opening buffers
423.669  011.632: BufEnter autocommands
423.682  000.013: editing files in windows
429.285  000.532  000.532: sourcing /Users/vitaliy.zakharov/.vim/bundle/vim-powerline/autoload/Pl.vim
431.002  001.407  001.407: sourcing /Users/vitaliy.zakharov/.vim/bundle/vim-powerline/Powerline_default_default_fancy.cache
433.801  000.216  000.216: sourcing /Users/vitaliy.zakharov/.vim/bundle/vim-powerline/autoload/Pl/Match.vim
437.082  000.033  000.033: sourcing /Users/vitaliy.zakharov/.vim/bundle/vim-rails/autoload/rails.vim
454.329  018.219  018.186: sourcing /Users/vitaliy.zakharov/.vim/bundle/vim-rails/autoload/rails.vim
513.922  069.866: VimEnter autocommands
513.946  000.024: before starting main loop
521.190  000.534  000.534: sourcing /Users/vitaliy.zakharov/.vim/bundle/vim-powerline/autoload/Powerline/Functions.vim
522.248  000.173  000.173: sourcing /Users/vitaliy.zakharov/.vim/bundle/vim-powerline/autoload/Powerline/Functions/fugitive.vim
524.212  000.182  000.182: sourcing /Users/vitaliy.zakharov/.vim/bundle/vim-powerline/autoload/Powerline/Functions/syntastic.vim
533.087  008.019  008.019: sourcing /Users/vitaliy.zakharov/.vim/bundle/tagbar/autoload/tagbar.vim
609.511  086.657: first screen update
609.524  000.013: --- VIM STARTED ---
