<div class='middleBox'>
  <div class='container'>
    <div class='content'>
      <div class='row'>
        <div class='span8'>
          <div class='presentBox'>
            <div class='carousel slide' data-interval='false' id='presenter'>
              <ol class='carousel-indicators'>
                <li class='active' data-slide-to='0' data-target='#presenter'></li>
              </ol>
              <div class='carousel-inner'>
                <div class='active item'>
                  <p style='text-align:center'>
                  </p>
                </div>
              </div>
              <a class='carousel-control left' data-slide='prev' href='#presenter'>&lsaquo;</a>
              <a class='carousel-control right' data-slide='next' href='#presenter'>&rsaquo;</a>
            </div>
          </div>
        </div>
        <div class='span4'>
          <h1>
            Easy way to get good tenants
          </h1>
          <form id='signUp'>
            <div>
              <input id='firstNameField' placeholder='First'>
              <input id='lastNameField' placeholder='Last'>
            </div>
            <div>
              <input id='emailField' placeholder='E-mail'>
            </div>
            <div>
              <input class='btn btn-success btn-large' type='submit' value='Sign Up'>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class='bottomBox'>
  <div class='container'>
    <div class='content'>
      <div id='featuresSection'>
        <div class='row'>
          <div class='span4 feature'>
            <h2>Easy scheduling</h2>
            <p>Potential tenants can easily schedule during pre-defined open-house blocks.</p>
          </div>
          <div class='span4 feature'>
            <h2>Post to multiple sites</h2>
            <p>Post your listing to Craigslist, Facebook from one central location</p>
          </div>
          <div class='span4 feature'>
            <h2>Applicant tracking</h2>
            <p>Track potential tenant progress and status</p>
          </div>
        </div>
        <div class='row'>
          <div class='span4 feature'>
            <h2>Accept applications online</h2>
            <p>Let tenants apply online to avoid mistakes and need to fax/mail applications</p>
          </div>
          <div class='span4 feature'>
            <h2>Fast</h2>
            <p>Use predefined templates for easy posting</p>
          </div>
          <div class='span4 feature'>
            <h2>Applicant tracking</h2>
            <p>Track potential tenant progress and status</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
