<div class="container">
  <form role="form">
    <div class="row">
      <h3>New Posting</h3>
      <div class="col-md-8">
        <div class="form-group">
          <label for="postTitle">Post Title</label>
          <input class="form-control" id="postTitle" type="text" placeholder="Example: Awesome 2BR available now">
        </div>
        <div class="form-group">
          <label for="postBody">Post</label>
          <textarea class="form-control" id="postBody" cols="30" rows="10"></textarea>
        </div>
      </div>
      <div class="col-md-4 well">
        <div class="form-group">
          <label for="postMonthlyRent">Monthly Rent</label>
          <input class="form-control" id="postMonthlyRent" type="text" placeholder="1200">
        </div>
        <div class="form-group">
          <label for="postMonthlySecurity">Security Deposit</label>
          <input class="form-control" type="text" id="postMonthlySecurity" placeholder="600">
        </div>
        <div class="form-group">
          <label>
            <input type="checkbox"> Last Month
          </label>
        </div>
      </div>
    </div>
  </form>
</div>
