<div class="container" ng-switch="step" ng-animate="'wave'" class="slide-frame">
  <div ng-switch-when="0">
    <form role="form">
      <div class="row">
        <h3>New Posting</h3>
        <div class="col-md-8">
          <div class="form-group">
            <label for="postTitle">Post Title</label>
            <input class="form-control" ng-model="post.title" id="postTitle" type="text" placeholder="Example: Awesome 2BR available now">
          </div>
          <div class="form-group">
            <label for="postBody">Post</label>
            <textarea class="form-control" id="postBody" ng-model="post.description" cols="30" rows="10"></textarea>
          </div>
        </div>
        <div class="col-md-4 well">
          <div class="form-group">
            <label for="postMonthlyRent">Monthly Rent</label>
            <input class="form-control" ng-model="post.monthly" id="postMonthlyRent" type="text" placeholder="1200">
          </div>
          <div class="form-group">
            <label for="postMonthlySecurity">Security Deposit</label>
            <input class="form-control" ng.model="post.security" type="text" id="postMonthlySecurity" placeholder="600">
          </div>
          <div class="form-group">
            <label>
              <input type="checkbox"> Last Month
            </label>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div ng-switch-when="1">
    <div class="row">
      <div class="col-md-12">
        <div class="well">
          <form class="form-horizontal" role="form">
            <div class="form-group">
              <label for="appointmentFrom" class="col-md-1 control-label">Day</label>
              <div class="col-md-11">
                <fc-day-picker></fc-day-picker>
              </div>
            </div>
            <div class="form-group">
              <label for="appointmentFrom" class="col-md-1 control-label">From</label>
              <div class="col-md-2">
                <input class="form-control" ng-model="showing.from" type="text" id="appointTo">
              </div>
              <label for="appointmentTo" class="col-md-1 control-label">To</label>
              <div class="col-md-2">
                <input class="form-control" ng-model="showing.to" type="text" id="appointTo">
              </div>
              <label for="appointmentFrom" class="col-md-1 control-label">Every</label>
                <div class="btn-group col-md-5" data-toggle="buttons">
                  <label class="btn btn-default">
                    <input type="radio" name="day" checked="checked"> 15 minutes
                  </label>
                  <label class="btn btn-default">
                    <input type="radio" name="day"> 30 minutes
                  </label>
                </div>
            </div>
            <div class="form-group">
              <button class="btn btn-success" ng-click="addShowing()">Add</button>
            </div>
          </form>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th>Day</th>
              <th>From</th>
              <th>To</th>
              <th>Duration</th>
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody >
            <tr ng-repeat="showing in post.availabilities_attributes">
              <td>{{ showing.date }}</td>
              <td>{{ showing.from }}</td>
              <td>{{ showing.to }}</td>
              <td>&nbsp;</td>
              <td><a href="" ng-click="removeShowing($index)"><span class="glyphicon glyphicon-remove"></span></a></td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
  <div class="row">
    <div class="cold-md-12">
      <div class="form-group">
        <a class="btn btn-default" ng-hide="isFirstStep()" ng-click="handlePrevious()">Back</a>
        <a class="btn btn-primary" ng-click="handleNext()">{{ nextText }}</a>
      </div>
    </div>
  </div>
</div>

