            <div class="row">
                <div class="span8">
                  <div id="address"></div>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                </div>
                <div class="span4" id="price"></div>
            </div>
            <hr />
            <div class="row">
              <div class="span6">
                <img src="img/sample/modern-bathroom.jpg" class="img-rounded" alt=""/>
                <img src="img/sample/eclectic-kitchen.jpg" class="img-rounded" alt=""/>
                <img src="img/sample/modern-dining-room.jpg" class="img-rounded" alt=""/>
                <img src="img/sample/eclectic-patio.jpg" class="img-rounded" alt=""/>
              </div>
              <div class="span6">
                <img class="img-rounded" src="img/sample/eclectic-patio-large.jpg" alt="" /></div>
            </div>
            <hr>
            <div class="row">
              <div class="span12" id="schedule"></div>
            </div>
            <hr>
