            <div class="row">
                <div class="span8">
                    <h2>70 Trenton St</h2>
                    <h3>East Boston MA, 02128</h3>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                </div>
                <div class="span4" id="price"></div>
            </div>
            <hr />
            <div class="row">
              <div class="span6">
                <img src="img/sample/modern-bathroom.jpg" class="img-rounded" alt=""/>
                <img src="img/sample/eclectic-kitchen.jpg" class="img-rounded" alt=""/>
                <img src="img/sample/modern-dining-room.jpg" class="img-rounded" alt=""/>
                <img src="img/sample/eclectic-patio.jpg" class="img-rounded" alt=""/>
              </div>
              <div class="span6">
                <img class="img-rounded" src="img/sample/eclectic-patio-large.jpg" alt="" /></div>
            </div>
            <hr>
            <div class="row">
              <div class="span12">
                <h3>Schedule an appointment:</h3>
                <div class="row">
                <div class="day span2">
                  <div class="date">
                    <h5>August</h5>
                    <h4>25</h4>
                    <p>Monday</p>
                  </div>
                  <div class="slots">
                    <div class="slot">
                        <h6><i class="icon-time"></i>Morning</h6>
                        <p><a href="#">2 Available</a></p>
                      </div>
                      <div class="slot">
                        <h6><i class="icon-time"></i>Evening</h6>
                        <p><a href="#">2 Available</a></p>
                    </div>
                  </div>
                </div>
                <div class="day span2">
                  <div class="date">
                    <h5>August</h5>
                    <h4>26</h4>
                    <p>Tuesday</p>
                  </div>
                </div>
              </div>
              </div>
            </div>
            <hr>
