<div class="modal-header">
  <h2>Scheduling your appointment</h2>
</div>
<div class="modal-body">
  <div id="flash"></div>
  <form class="form-horizontal">
    <div class="control-group">
      <label class="control-label" for="inputEmail">Your Email</label>
      <div class="controls">
        <input type="text" id="inputEmail" placeholder="Email">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inoutName">Name</label>
      <div class="controls">
        <input type="text" id="inputName" placeholder="First Last">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="reCaptcha">Are you human?</label>
      <div class="controls">
        <div id="reCaptcha"></div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn" data-dismiss="modal">cancel</button>
  <button id="schedule" class="btn btn-success">Schedule</button>
</div>
